[
    "lsd-musl_1.2.0_amd64.deb",
    "lsd-musl_1.2.0_amd64_xz.deb",
    "lsd-musl_1.2.0_arm64.deb",
    "lsd-musl_1.2.0_arm64_xz.deb",
    "lsd-musl_1.2.0_i686.deb",
    "lsd-musl_1.2.0_i686_xz.deb",
    "lsd-v1.2.0-aarch64-apple-darwin.tar.gz",
    "lsd-v1.2.0-aarch64-unknown-linux-gnu.tar.gz",
    "lsd-v1.2.0-aarch64-unknown-linux-musl.tar.gz",
    "lsd-v1.2.0-arm-unknown-linux-gnueabihf.tar.gz",
    "lsd-v1.2.0-i686-pc-windows-gnu.zip",
    "lsd-v1.2.0-i686-pc-windows-msvc.zip",
    "lsd-v1.2.0-i686-unknown-linux-gnu.tar.gz",
    "lsd-v1.2.0-i686-unknown-linux-musl.tar.gz",
    "lsd-v1.2.0-x86_64-apple-darwin.tar.gz",
    "lsd-v1.2.0-x86_64-pc-windows-gnu.zip",
    "lsd-v1.2.0-x86_64-pc-windows-msvc.zip",
    "lsd-v1.2.0-x86_64-unknown-linux-gnu.tar.gz",
    "lsd-v1.2.0-x86_64-unknown-linux-musl.tar.gz",
    "lsd_1.2.0_amd64.deb",
    "lsd_1.2.0_amd64_xz.deb",
    "lsd_1.2.0_arm64.deb",
    "lsd_1.2.0_arm64_xz.deb",
    "lsd_1.2.0_i686.deb",
    "lsd_1.2.0_i686_xz.deb",
]
