[
    "doggo_1.1.4_checksums.txt",
    "doggo_1.1.4_Darwin_arm64.tar.gz",
    "doggo_1.1.4_Darwin_x86_64.tar.gz",
    "doggo_1.1.4_Freebsd_arm.tar.gz",
    "doggo_1.1.4_Freebsd_arm64.tar.gz",
    "doggo_1.1.4_Freebsd_i386.tar.gz",
    "doggo_1.1.4_Freebsd_x86_64.tar.gz",
    "doggo_1.1.4_Linux_arm.tar.gz",
    "doggo_1.1.4_Linux_arm64.tar.gz",
    "doggo_1.1.4_Linux_i386.tar.gz",
    "doggo_1.1.4_Linux_x86_64.tar.gz",
    "doggo_1.1.4_Netbsd_arm.tar.gz",
    "doggo_1.1.4_Netbsd_arm64.tar.gz",
    "doggo_1.1.4_Netbsd_i386.tar.gz",
    "doggo_1.1.4_Netbsd_x86_64.tar.gz",
    "doggo_1.1.4_Openbsd_arm.tar.gz",
    "doggo_1.1.4_Openbsd_arm64.tar.gz",
    "doggo_1.1.4_Openbsd_i386.tar.gz",
    "doggo_1.1.4_Openbsd_x86_64.tar.gz",
    "doggo_1.1.4_Windows_i386.zip",
    "doggo_1.1.4_Windows_x86_64.zip",
    "doggo_web_1.1.4_linux_amd64.tar.gz",
]
