[
    "fd-musl_10.3.0_amd64.deb",
    "fd-musl_10.3.0_arm64.deb",
    "fd-musl_10.3.0_armhf.deb",
    "fd-musl_10.3.0_i686.deb",
    "fd-v10.3.0-aarch64-apple-darwin.tar.gz",
    "fd-v10.3.0-aarch64-pc-windows-msvc.zip",
    "fd-v10.3.0-aarch64-unknown-linux-gnu.tar.gz",
    "fd-v10.3.0-aarch64-unknown-linux-musl.tar.gz",
    "fd-v10.3.0-arm-unknown-linux-gnueabihf.tar.gz",
    "fd-v10.3.0-arm-unknown-linux-musleabihf.tar.gz",
    "fd-v10.3.0-i686-pc-windows-msvc.zip",
    "fd-v10.3.0-i686-unknown-linux-gnu.tar.gz",
    "fd-v10.3.0-i686-unknown-linux-musl.tar.gz",
    "fd-v10.3.0-x86_64-apple-darwin.tar.gz",
    "fd-v10.3.0-x86_64-pc-windows-gnu.zip",
    "fd-v10.3.0-x86_64-pc-windows-msvc.zip",
    "fd-v10.3.0-x86_64-unknown-linux-gnu.tar.gz",
    "fd-v10.3.0-x86_64-unknown-linux-musl.tar.gz",
    "fd_10.3.0_amd64.deb",
    "fd_10.3.0_arm64.deb",
    "fd_10.3.0_armhf.deb",
    "fd_10.3.0_i686.deb",
]
