[
    "checksums.txt",
    "stern_1.33.1_darwin_amd64.tar.gz",
    "stern_1.33.1_darwin_arm64.tar.gz",
    "stern_1.33.1_linux_amd64.tar.gz",
    "stern_1.33.1_linux_arm.tar.gz",
    "stern_1.33.1_linux_arm64.tar.gz",
    "stern_1.33.1_windows_amd64.tar.gz",
    "stern_1.33.1_windows_amd64.zip",
    "stern_1.33.1_windows_arm64.tar.gz",
    "stern_1.33.1_windows_arm64.zip",
]
