[
    "yazi-aarch64-apple-darwin.zip",
    "yazi-aarch64-pc-windows-msvc.zip",
    "yazi-aarch64-unknown-linux-gnu.deb",
    "yazi-aarch64-unknown-linux-gnu.zip",
    "yazi-aarch64-unknown-linux-musl.deb",
    "yazi-aarch64-unknown-linux-musl.zip",
    "yazi-amd64.snap",
    "yazi-arm64.snap",
    "yazi-i686-unknown-linux-gnu.zip",
    "yazi-riscv64gc-unknown-linux-gnu.zip",
    "yazi-sparc64-unknown-linux-gnu.zip",
    "yazi-x86_64-apple-darwin.zip",
    "yazi-x86_64-pc-windows-msvc.zip",
    "yazi-x86_64-unknown-linux-gnu.deb",
    "yazi-x86_64-unknown-linux-gnu.zip",
    "yazi-x86_64-unknown-linux-musl.deb",
    "yazi-x86_64-unknown-linux-musl.zip",
]
