[
    "tv-0.14.5-aarch64-apple-darwin.sha256",
    "tv-0.14.5-aarch64-apple-darwin.tar.gz",
    "tv-0.14.5-aarch64-unknown-linux-gnu.deb",
    "tv-0.14.5-aarch64-unknown-linux-gnu.deb.sha256",
    "tv-0.14.5-aarch64-unknown-linux-gnu.sha256",
    "tv-0.14.5-aarch64-unknown-linux-gnu.tar.gz",
    "tv-0.14.5-i686-unknown-linux-gnu.sha256",
    "tv-0.14.5-i686-unknown-linux-gnu.tar.gz",
    "tv-0.14.5-x86_64-apple-darwin.sha256",
    "tv-0.14.5-x86_64-apple-darwin.tar.gz",
    "tv-0.14.5-x86_64-pc-windows-msvc.sha256",
    "tv-0.14.5-x86_64-pc-windows-msvc.tar.gz",
    "tv-0.14.5-x86_64-pc-windows-msvc.zip",
    "tv-0.14.5-x86_64-pc-windows-msvc.zip.sha256",
    "tv-0.14.5-x86_64-unknown-linux-gnu.deb",
    "tv-0.14.5-x86_64-unknown-linux-gnu.deb.sha256",
    "tv-0.14.5-x86_64-unknown-linux-gnu.sha256",
    "tv-0.14.5-x86_64-unknown-linux-gnu.tar.gz",
    "tv-0.14.5-x86_64-unknown-linux-musl.deb",
    "tv-0.14.5-x86_64-unknown-linux-musl.deb.sha256",
    "tv-0.14.5-x86_64-unknown-linux-musl.sha256",
    "tv-0.14.5-x86_64-unknown-linux-musl.tar.gz",
]
