[
    "checksums.txt",
    "checksums.txt.sig",
    "ipswd_3.1.648_linux_arm64.apk",
    "ipswd_3.1.648_linux_arm64.deb",
    "ipswd_3.1.648_linux_arm64.pkg.tar.zst",
    "ipswd_3.1.648_linux_arm64.rpm",
    "ipswd_3.1.648_linux_arm64.tar.gz",
    "ipswd_3.1.648_linux_arm64.tar.gz.sbom.json",
    "ipswd_3.1.648_linux_x86_64.apk",
    "ipswd_3.1.648_linux_x86_64.deb",
    "ipswd_3.1.648_linux_x86_64.pkg.tar.zst",
    "ipswd_3.1.648_linux_x86_64.rpm",
    "ipswd_3.1.648_linux_x86_64.tar.gz",
    "ipswd_3.1.648_linux_x86_64.tar.gz.sbom.json",
    "ipswd_3.1.648_macOS_arm64.tar.gz",
    "ipswd_3.1.648_macOS_arm64.tar.gz.sbom.json",
    "ipswd_3.1.648_macOS_universal.tar.gz",
    "ipswd_3.1.648_macOS_universal.tar.gz.sbom.json",
    "ipswd_3.1.648_macOS_x86_64.tar.gz",
    "ipswd_3.1.648_macOS_x86_64.tar.gz.sbom.json",
    "ipswd_3.1.648_windows_arm64.zip",
    "ipswd_3.1.648_windows_arm64.zip.sbom.json",
    "ipswd_3.1.648_windows_x86_64.zip",
    "ipswd_3.1.648_windows_x86_64.zip.sbom.json",
    "ipsw_3.1.648_iOS_arm64.tar.gz",
    "ipsw_3.1.648_iOS_arm64.tar.gz.sbom.json",
    "ipsw_3.1.648_linux_arm64.apk",
    "ipsw_3.1.648_linux_arm64.deb",
    "ipsw_3.1.648_linux_arm64.pkg.tar.zst",
    "ipsw_3.1.648_linux_arm64.rpm",
    "ipsw_3.1.648_linux_arm64.tar.gz",
    "ipsw_3.1.648_linux_arm64.tar.gz.sbom.json",
    "ipsw_3.1.648_linux_x86_64.apk",
    "ipsw_3.1.648_linux_x86_64.deb",
    "ipsw_3.1.648_linux_x86_64.pkg.tar.zst",
    "ipsw_3.1.648_linux_x86_64.rpm",
    "ipsw_3.1.648_linux_x86_64.tar.gz",
    "ipsw_3.1.648_linux_x86_64.tar.gz.sbom.json",
    "ipsw_3.1.648_macOS_arm64.tar.gz",
    "ipsw_3.1.648_macOS_arm64.tar.gz.sbom.json",
    "ipsw_3.1.648_macOS_arm64_extras.tar.gz",
    "ipsw_3.1.648_macOS_arm64_extras.tar.gz.sbom.json",
    "ipsw_3.1.648_macOS_arm64_frida.tar.gz",
    "ipsw_3.1.648_macOS_arm64_frida.tar.gz.sbom.json",
    "ipsw_3.1.648_macOS_universal.tar.gz",
    "ipsw_3.1.648_macOS_universal.tar.gz.sbom.json",
    "ipsw_3.1.648_macOS_x86_64.tar.gz",
    "ipsw_3.1.648_macOS_x86_64.tar.gz.sbom.json",
    "ipsw_3.1.648_macOS_x86_64_extras.tar.gz",
    "ipsw_3.1.648_macOS_x86_64_extras.tar.gz.sbom.json",
    "ipsw_3.1.648_macOS_x86_64_frida.tar.gz",
    "ipsw_3.1.648_macOS_x86_64_frida.tar.gz.sbom.json",
    "ipsw_3.1.648_windows_arm64.zip",
    "ipsw_3.1.648_windows_arm64.zip.sbom.json",
    "ipsw_3.1.648_windows_x86_64.zip",
    "ipsw_3.1.648_windows_x86_64.zip.sbom.json",
]
