[
    "checksums.txt",
    "checksums.txt.pem",
    "checksums.txt.sig",
    "freeze-0.2.2-1.aarch64.rpm",
    "freeze-0.2.2-1.armv7hl.rpm",
    "freeze-0.2.2-1.i386.rpm",
    "freeze-0.2.2-1.x86_64.rpm",
    "freeze-0.2.2.tar.gz",
    "freeze-0.2.2.tar.gz.sbom.json",
    "freeze_0.2.2_aarch64.apk",
    "freeze_0.2.2_amd64.deb",
    "freeze_0.2.2_arm64.deb",
    "freeze_0.2.2_armhf.deb",
    "freeze_0.2.2_armv7.apk",
    "freeze_0.2.2_Darwin_arm64.tar.gz",
    "freeze_0.2.2_Darwin_arm64.tar.gz.sbom.json",
    "freeze_0.2.2_Darwin_x86_64.tar.gz",
    "freeze_0.2.2_Darwin_x86_64.tar.gz.sbom.json",
    "freeze_0.2.2_Freebsd_arm.tar.gz",
    "freeze_0.2.2_Freebsd_arm.tar.gz.sbom.json",
    "freeze_0.2.2_Freebsd_arm64.tar.gz",
    "freeze_0.2.2_Freebsd_arm64.tar.gz.sbom.json",
    "freeze_0.2.2_Freebsd_i386.tar.gz",
    "freeze_0.2.2_Freebsd_i386.tar.gz.sbom.json",
    "freeze_0.2.2_Freebsd_x86_64.tar.gz",
    "freeze_0.2.2_Freebsd_x86_64.tar.gz.sbom.json",
    "freeze_0.2.2_i386.deb",
    "freeze_0.2.2_Linux_arm.tar.gz",
    "freeze_0.2.2_Linux_arm.tar.gz.sbom.json",
    "freeze_0.2.2_Linux_arm64.tar.gz",
    "freeze_0.2.2_Linux_arm64.tar.gz.sbom.json",
    "freeze_0.2.2_Linux_i386.tar.gz",
    "freeze_0.2.2_Linux_i386.tar.gz.sbom.json",
    "freeze_0.2.2_Linux_x86_64.tar.gz",
    "freeze_0.2.2_Linux_x86_64.tar.gz.sbom.json",
    "freeze_0.2.2_Netbsd_arm.tar.gz",
    "freeze_0.2.2_Netbsd_arm.tar.gz.sbom.json",
    "freeze_0.2.2_Netbsd_arm64.tar.gz",
    "freeze_0.2.2_Netbsd_arm64.tar.gz.sbom.json",
    "freeze_0.2.2_Netbsd_i386.tar.gz",
    "freeze_0.2.2_Netbsd_i386.tar.gz.sbom.json",
    "freeze_0.2.2_Netbsd_x86_64.tar.gz",
    "freeze_0.2.2_Netbsd_x86_64.tar.gz.sbom.json",
    "freeze_0.2.2_Openbsd_arm.tar.gz",
    "freeze_0.2.2_Openbsd_arm.tar.gz.sbom.json",
    "freeze_0.2.2_Openbsd_arm64.tar.gz",
    "freeze_0.2.2_Openbsd_arm64.tar.gz.sbom.json",
    "freeze_0.2.2_Openbsd_i386.tar.gz",
    "freeze_0.2.2_Openbsd_i386.tar.gz.sbom.json",
    "freeze_0.2.2_Openbsd_x86_64.tar.gz",
    "freeze_0.2.2_Openbsd_x86_64.tar.gz.sbom.json",
    "freeze_0.2.2_Windows_i386.zip",
    "freeze_0.2.2_Windows_i386.zip.sbom.json",
    "freeze_0.2.2_Windows_x86_64.zip",
    "freeze_0.2.2_Windows_x86_64.zip.sbom.json",
    "freeze_0.2.2_x86.apk",
    "freeze_0.2.2_x86_64.apk",
]
