[
    "bottom-0.12.3-1.x86_64.rpm",
    "bottom-musl-0.12.3-1.x86_64.rpm",
    "bottom-musl_0.12.3-1_amd64.deb",
    "bottom-musl_0.12.3-1_arm64.deb",
    "bottom-musl_0.12.3-1_armhf.deb",
    "bottom.desktop",
    "bottom_0.12.3-1_amd64.deb",
    "bottom_0.12.3-1_arm64.deb",
    "bottom_0.12.3-1_armhf.deb",
    "bottom_aarch64-apple-darwin.tar.gz",
    "bottom_aarch64-linux-android.tar.gz",
    "bottom_aarch64-pc-windows-msvc.tar.gz",
    "bottom_aarch64-unknown-linux-gnu.tar.gz",
    "bottom_aarch64-unknown-linux-musl.tar.gz",
    "bottom_aarch64_installer.msi",
    "bottom_armv7-unknown-linux-gnueabihf.tar.gz",
    "bottom_armv7-unknown-linux-musleabihf.tar.gz",
    "bottom_i686-pc-windows-msvc.zip",
    "bottom_i686-unknown-linux-gnu.tar.gz",
    "bottom_i686-unknown-linux-musl.tar.gz",
    "bottom_loongarch64-unknown-linux-gnu.tar.gz",
    "bottom_powerpc64le-unknown-linux-gnu.tar.gz",
    "bottom_riscv64gc-unknown-linux-gnu.tar.gz",
    "bottom_x86_64-apple-darwin.tar.gz",
    "bottom_x86_64-pc-windows-gnu.zip",
    "bottom_x86_64-pc-windows-msvc.zip",
    "bottom_x86_64-unknown-freebsd-13.5.tar.gz",
    "bottom_x86_64-unknown-freebsd-14.3.tar.gz",
    "bottom_x86_64-unknown-freebsd-15.0.tar.gz",
    "bottom_x86_64-unknown-linux-gnu-2-17.tar.gz",
    "bottom_x86_64-unknown-linux-gnu.tar.gz",
    "bottom_x86_64-unknown-linux-musl.tar.gz",
    "bottom_x86_64_installer.msi",
    "choco.zip",
    "completion.tar.gz",
    "manpage.tar.gz",
]
