[
    "procs-0.14.10-1.x86_64.rpm",
    "procs-v0.14.10-aarch64-linux.zip",
    "procs-v0.14.10-aarch64-mac.zip",
    "procs-v0.14.10-x86_64-linux.zip",
    "procs-v0.14.10-x86_64-mac.zip",
    "procs-v0.14.10-x86_64-windows.zip",
]
