[
    "fantarepo_ends_in_os_v1.0.0_amd64.darwin",
    "fantarepo_ends_in_os_v1.0.0_arm64.darwin",
    "fantarepo_ends_in_os_v1.0.0_amd64.linux",
    "fantarepo_ends_in_os_v1.0.0_arm64.linux",
    "fantarepo_ends_in_os_v1.0.0_amd64.windows.exe",
    "fantarepo_ends_in_os_v1.0.0_arm64.windows.exe",
]
