[
    "helix-25.07.1-aarch64-linux.tar.xz",
    "helix-25.07.1-aarch64-macos.tar.xz",
    "helix-25.07.1-source.tar.xz",
    "helix-25.07.1-x86_64-linux.tar.xz",
    "helix-25.07.1-x86_64-macos.tar.xz",
    "helix-25.07.1-x86_64-windows.zip",
    "helix-25.07.1-x86_64.AppImage",
    "helix-25.07.1-x86_64.AppImage.zsync",
    "helix_25.7.1-1_amd64.deb",
]
