[
    "checksums.txt",
    "jwtui-checksums.txt",
    "jwtui-aarch64-gnu.sha256",
    "jwtui-aarch64-gnu.tar.gz",
    "jwtui-aarch64-musl.sha256",
    "jwtui-aarch64-musl.tar.gz",
    "jwtui-armv6-gnu.sha256",
    "jwtui-armv6-gnu.tar.gz",
    "jwtui-armv6-musl.sha256",
    "jwtui-armv6-musl.tar.gz",
    "jwtui-armv7-gnu.sha256",
    "jwtui-armv7-gnu.tar.gz",
    "jwtui-armv7-musl.sha256",
    "jwtui-armv7-musl.tar.gz",
    "jwtui-linux-musl.sha256",
    "jwtui-linux-musl.tar.gz",
    "jwtui-linux.sha256",
    "jwtui-linux.tar.gz",
    "jwtui-macos-arm64.sha256",
    "jwtui-macos-arm64.tar.gz",
    "jwtui-macos.sha256",
    "jwtui-macos.tar.gz",
    "jwtui-windows-aarch64.sha256",
    "jwtui-windows-aarch64.tar.gz",
    "jwtui-windows.sha256",
    "jwtui-windows.tar.gz",
]
