[
    "checksums.txt",
    "snitch_0.2.2_checksums.txt",
    "snitch_0.2.2_darwin_amd64.tar.gz",
    "snitch_0.2.2_darwin_arm64.tar.gz",
    "snitch_0.2.2_linux_amd64.apk",
    "snitch_0.2.2_linux_amd64.deb",
    "snitch_0.2.2_linux_amd64.rpm",
    "snitch_0.2.2_linux_amd64.tar.gz",
    "snitch_0.2.2_linux_arm64.apk",
    "snitch_0.2.2_linux_arm64.deb",
    "snitch_0.2.2_linux_arm64.rpm",
    "snitch_0.2.2_linux_arm64.tar.gz",
    "snitch_0.2.2_linux_armv7.apk",
    "snitch_0.2.2_linux_armv7.deb",
    "snitch_0.2.2_linux_armv7.rpm",
    "snitch_0.2.2_linux_armv7.tar.gz",
]
