[
    "kdash-aarch64-gnu.sha256",
    "kdash-aarch64-gnu.tar.gz",
    "kdash-aarch64-musl.sha256",
    "kdash-aarch64-musl.tar.gz",
    "kdash-armv6-gnu.sha256",
    "kdash-armv6-gnu.tar.gz",
    "kdash-armv6-musl.sha256",
    "kdash-armv6-musl.tar.gz",
    "kdash-armv7-gnu.sha256",
    "kdash-armv7-gnu.tar.gz",
    "kdash-armv7-musl.sha256",
    "kdash-armv7-musl.tar.gz",
    "kdash-linux-musl.sha256",
    "kdash-linux-musl.tar.gz",
    "kdash-linux.sha256",
    "kdash-linux.tar.gz",
    "kdash-macos-arm64.sha256",
    "kdash-macos-arm64.tar.gz",
    "kdash-macos.sha256",
    "kdash-macos.tar.gz",
    "kdash-windows-aarch64.sha256",
    "kdash-windows-aarch64.tar.gz",
    "kdash-windows.sha256",
    "kdash-windows.tar.gz",
]
