[
    "exif_renamer-0.2.2-aarch64-apple-darwin.tar.gz",
    "exif_renamer-0.2.2-aarch64-pc-windows-msvc.zip",
    "exif_renamer-0.2.2-aarch64-unknown-linux-gnu.tar.gz",
    "exif_renamer-0.2.2-aarch64-unknown-linux-musl.tar.gz",
    "exif_renamer-0.2.2-x86_64-apple-darwin.tar.gz",
    "exif_renamer-0.2.2-x86_64-pc-windows-gnu.zip",
    "exif_renamer-0.2.2-x86_64-pc-windows-msvc.zip",
    "exif_renamer-0.2.2-x86_64-unknown-freebsd.tar.gz",
    "exif_renamer-0.2.2-x86_64-unknown-linux-gnu.tar.gz",
    "exif_renamer-0.2.2-x86_64-unknown-linux-musl.tar.gz",
]
