[
    "regex-tui_v0.7.0_darwin.amd64",
    "regex-tui_v0.7.0_darwin.arm64",
    "regex-tui_v0.7.0_linux.amd64",
    "regex-tui_v0.7.0_linux.arm64",
    "regex-tui_v0.7.0_windows.amd64.exe",
    "regex-tui_v0.7.0_windows.arm64.exe",
]
